<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>652649285803-6b0atq5es0t8jjc8u5skklnnvcromv0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652649285803-6b0atq5es0t8jjc8u5skklnnvcromv0r</string>
	<key>API_KEY</key>
	<string>AIzaSyDs-VnHgbYEAx4tlEersveRWe8zUSbZ5Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>652649285803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todo1.mylibrary</string>
	<key>PROJECT_ID</key>
	<string>mylibrary-fd48c</string>
	<key>STORAGE_BUCKET</key>
	<string>mylibrary-fd48c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652649285803:ios:518826e1351ee11c</string>
	<key>DATABASE_URL</key>
	<string>https://mylibrary-fd48c.firebaseio.com</string>
</dict>
</plist>